<h1>{{title}}: {{book.title}}</h1>
<p>Do you really want to delete this Book?</p>
<form method="POST" action="">
  <div class="form-group">
    <input id="bookid" type="hidden" name="bookid" required="true" value="{{book._id}}" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Delete</button>
</form>